#processes {
    padding: 10px;
    table {
        tr {
            cursor: pointer;
            td {
                font-size: 1.2em;
                padding: 15px;
            }
        }
    }
}
