<div id="contacts" ng-controller="ContactsCtrl">
	<div class="input-group row">
  		<span class="input-group-addon glyphicon glyphicon-search"></span>
		<input type="text" class="form-control searchInput" ng-model="search.name" placeholder="search...">
	</div>
	<div infinite-scroll='angellist.getContacts()' infinite-scroll-disabled='angellist.busy' infinite-scroll-distance='1'>
	  	<table class="table table-hover">
		    <tr ng-repeat="contact in angellist.items | filter:search" contactlink="{{contact.id}}">
		    	<td><img class="img-circle img-thumbnail" alt="contact image" src="{{contact.image}}"/></td>
		        <td><strong>{{contact.name}}</strong></td>
		        <td class="hidden-xs"><small>{{contact.bio}}</small></td>
		    </tr>
	  	</table>
	  	<loadinglayout ng-show="angellist.busy" label="'Loading contacts'"/>
	</div>
</div>