<div id="organizationDetails" class="mainContent">

    <div class="input-group row headerContent">
        <backbutton class="pull-left"/>
        <button ng-click="showDeleteDialog()" class="btn btn-danger pull-right"><span class="glyphicon glyphicon-log-out"></span> Leave</button>
        <button ng-click="showInviteContactDialog()" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-user"></span> Invite contacts</button>
    </div>

    <div ng-show="organization">
    	<div class="row text-center">
			<h2>{{organization.name}}</h2>
        </div>
        <hr/>
        <table class="table table-hover">
            <tr ng-repeat="member in organization.members">
                <td ng-click="seeContactDetails(member.angellist_id)"><img class="img-circle img-thumbnail" alt="contact image" src="https://s3.amazonaws.com/photos.angel.co/users/{{member.angellist_id}}-medium_jpg"/></td>
                <td ng-click="seeContactDetails(member.angellist_id)"><strong>{{member.name}}</strong></td>
                <td>
                    <label class="center" ng-show="member.role == 10">
                        <input id="makeAdmin" type="checkbox" checked="member.role == 10"/>
                        Admin
                    </label>
                    <strong ng-show="member.role != 10">{{member.role == 10 | iif : "Admin" : ""}}</strong>
                </td>
                <td class="hidden-xs"></td>
            </tr>
        </table>
    </div>
    
    <loadinglayout class="loadingContactDetails" ng-show="!organization" label="'Loading organization info'"/>

</div>

<!-- INVITE TO ORGANIZATION POPUP -->
<div id="inviteModal" class="modal fade chooser" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Invite to</h3>
        </div>
      <div class="modal-body">
        <select class="form-control">
            <option class="checkable" ng-repeat="orga in organizations" value="{{orga.id}}">
                {{orga.name}}
            </option>
        </select>
        <label class="center">
            <input id="makeAdmin" type="checkbox"/>
            Make admin
        </label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="inviteConfirm" type="button" class="btn btn-primary">Invite</button>
      </div>
    </div>
  </div>
</div>


<!-- DELETE ORGANIZATION CONFIRMATION POPUP -->
<div id="deleteModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        Are you sure you want to leave this organization ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button ng-click="leaveOrganization()" type="button" class="btn btn-primary">Yes</button>
      </div>
    </div>
  </div>
</div>