<div id="organizations" class="mainContent">
	<div class="headerContent">
		<div class="row">
			<div class="input-group col-md-3">
				<span class="input-group-addon glyphicon glyphicon-search"></span>
				<input type="text" class="form-control searchInput" ng-model="search.name" placeholder="search...">
			</div>
			<addnew id="addNewOrga" ng-click="addNewOrganization()" class="col-md-3 col-md-offset-6" label="'new organization...'"/>
		</div>
	</div>
	<div>
	  	<table class="table table-hover">
		    <tr ng-repeat="orga in organizations | filter:search" ng-click="seeOrganizationDetails(orga.id)">
		        <td><strong>{{orga.name}}</strong></td>
		    </tr>
	  	</table>
	  	<loadinglayout ng-show="!dataLoaded" label="'Loading organizations'"/>
	</div>
</div>
