<div id="processes" ng-controller="ProcessesCtrl">
	<div class="headerContent">
		<div class="row">
			<div class="input-group col-md-3">
				<span class="input-group-addon glyphicon glyphicon-search"></span>
				<input type="text" class="form-control searchInput" ng-model="search.name" placeholder="search...">
			</div>
			<addnew class="col-md-3 col-md-offset-6"/>
		</div>
	</div>
	<div infinite-scroll='angellist.getContacts()' infinite-scroll-disabled='angellist.busy' infinite-scroll-distance='1'>
	  	<table class="table table-hover">
		    <tr ng-repeat="process in processes | filter:search" processlink="{{process.id}}">
		        <td><strong>{{process.name}}</strong></td>
		    </tr>
	  	</table>
	  	<loadinglayout ng-show="true" label="'Loading processes'"/>
	</div>
</div>